.my-list {
    list-style-type: none;
    margin-bottom: 0;

}

.content-wrapper{
    min-height: 100%;
    margin-bottom: -72px;
    padding-bottom: 72px;
}

.footer{
    height: 72px;
}

.footer-link{
    color: white;
    text-decoration: none;
}
.footer-link:hover{
    color: orange;
    text-decoration: none;
}

.error {
    color: red;
    text-align: center;
}

#my-animation {
    color: white;
    background: green;
    text-align: center;
    float: left;
    position: absolute;
    width: 100%;
    z-index: 1;
    margin-bottom: 0;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}
