.my-list {
    list-style-type: none;
}

.content-wrapper{
    min-height: 100%;
    margin-bottom: -60px;
    padding-bottom: 60px;
}

.footer{
    height: 60px;
}

.footer-link{
    color: white;
    text-decoration: none;
}
.footer-link:hover{
    color: orange;
    text-decoration: none;
}

.error {
    color: red;
    text-align: center;
}

