.my-list {
    list-style-type: none;
    margin-bottom: 0;

}

.content-wrapper{
    min-height: 100%;
    margin-bottom: -72px;
    padding-bottom: 72px;
}

.footer{
    height: 72px;
}

.footer-link{
    color: white;
    text-decoration: none;
}
.footer-link:hover{
    color: orange;
    text-decoration: none;
}

.error {
    color: red;
    text-align: center;
}

